{% extends "base.html" %}
{% comment %} 

file: base.html
author: Jan Zádrapa
date: 3/2022
brief: Template for downlading content (examples)
{% endcomment %}

{% block content %}
{% comment %} List with links {% endcomment %}
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="files">
    <h2>Files to download:</h2>
    <ul>
      <li>Example wrong import: <a href="../static/files/import.zip" download>link</a></li>
      <li>Example typosquatting: <a href="../static/files/modules.zip" download>link</a></li>
      <li>Example input validation: <a href="../static/files/validation.zip" download>link</a></li>
      <li>Example creating file: <a href="../static/files/file.zip">link</a></li>
      <li>Example input method vulnerability: <a href="../static/files/input_vulnerability.py">link</a></li>
    </ul>

    <h3>The best for the last</h3>
    <ul>
      <li>Application simulating SQL injection (possible ReDoS attack): <a href="../static/files/exploit_web.zip">link</a></li>
      <li>Example command execution: <a href="../static/files/Trojan_attack.zip">link</a></li>
      <li>Client/server pickle module exploit: <a href="../static/files/Pickle.zip">link</a></li>
    </ul>

    <h4>Download all examples above: <a href="../static/files/all_examples.zip">link</a></h4>
</div>
{% endblock content %}