{% extends "base.html" %}
{% comment %} 

file: base.html
author: Jan Zádrapa
date: 3/2022
brief: Home site of SeCoPy
{% endcomment %}

{% block content %}
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 collapse in" id="home">
    <h3>Welcome to SeCoPy!</h3>
      <p>This application serves as educational tool and was written for Bachelor's thesis
        Secure Coding Guidelines for Python by Jan Zádrapa.
        Suggestions can be send via email on <a href="mailto:xzadra03@stud.fit.vutbr.cz">this mail.</a>
      </p>


    <h3>How to use SeCoPy:</h3>
    <p>If you want to learn about Python vulnerabilities or security standards go to page <a href="/theory">theory.</a> There are many interesting
     facts about secure coding in several Python catagories.</br></br>
     After reading and learning guidelines it is time for test. Or you can take the <a href="/test">test</a> immediatelly through this link.
     Results will be visible right after you click on the submit button.</br></br>
     Any examples of code used in guidelines or in questions can be downloaded <a href="/downloads">here.</a></br>
    </p>

  <h3>Thank you for using SeCoPy!</h3>
  </div>
{% endblock content %}