{% load static %}

{% comment %} 

file: login.html
author: Jan Zádrapa
date: 3/2022
brief: Template for logging users
{% endcomment %}

<!DOCTYPE HTML>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <title>SeCoPy</title>
   </head>
   <body style="background-color:#eeeeee;">

    <div class="jumbotron jumbotron-fluid" style="margin-bottom:0px;background-color: #555;color: white;"> 
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h1 class="display-4">SeCoPy</h1>
            <p class="lead">Secure Coding in Python</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: right;">
            <button type="button" onclick="location.href='/'" class="btn btn-dark" style="color:black;">Back</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container justify-content-center" style="padding-top:30px;">
      <h1>Login:</h1>

      <form method="POST" class="row g-3" style="max-width:600px; padding-top:20px;">
        {% csrf_token %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          {{ form.as_p}}
          <input type="submit" class="btn" style="background-color: #555; color:white;" value="Log In" />
        </div>
      </form>
  </div>

  <footer style="position:fixed; bottom:0; width: 100%;">
    <div class="text-center p-3" style="background-color: #555; padding-top:30px; padding-bottom:30px; color:white;">
        ©2022 BUT FIT
    </div>
  </footer>
   </body>
</html>