/* ******************************** */
/*
    file: custom_css.css
    author: Jan Zádrapa, BUT FIT
    date: 3/2022
    brief: custom css for SeCoPy project
************************************/
.padding_radio{
  padding-left: 15px;
}

.th_color{
  color:white;
  background-color: #777;
}

label{
  width: 80%;
}

img{
  padding-top: 25px;
  padding-bottom: 25px;
}